@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
}

header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    transition: 0.3s;
}

header:hover {
    background-color: #a5a5a51a;
    box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #e3871d;
}

h3 {
    margin-top: 0;
    color: #e3871d;
}

p {
    text-align: justify;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

li a {
    margin-left: 10px;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_links a {
    margin: 0 10px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.box_container {
    margin: auto 0;
    padding: 20px;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: #a5a5a51a;
    border-color: rgba(255, 255, 255, 0.1);
}

.box_container:hover {
    box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.15);
}

.box_small {
    padding: 20px;
    height: 150px;
    width: 350px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: #a5a5a51a;
    border-color: rgba(255, 255, 255, 0.1);
}

.box_small:hover {
    box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.15);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-icon {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 900px) {

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #e3871d;
    }

    html {
        overflow-x: hidden;
    }

    .wrapper {
        width: auto;
    }

    header {
        margin-left: 20px;
        margin-right: 20px;
    }

    main {
        flex-direction: column;
    }

    .box_container {
        margin: 20px auto;
        margin-top: 40px;
    }
    
    .box_small {
        margin: 20px auto;
    }

    #sizedBox {
        display: none;
    }
}